*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(44, 42, 42);
    padding: 20px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}

nav span{
    font-size: 20px;
    text-align: center;
}

nav i{
    font-size: 30px;
    margin: 0 20px;
}

.nav-left{
    display: flex;
    align-items: center;
}


.container{
    padding-top: 60px;
}

.img-1{
    width: 100%;
    overflow: hidden;
}

.img-1 img{
    width: 98%;
    height: 40vh;
}

.intro{
    background-color: black;
}

.content-1{
    padding: 10px 20px 20px;
}


.content-1 h1{
    color: white;
}

.content-1 p{
    color: white;
}

button{
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
}

.divider{
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 20px;
    gap: 10px;
}

.divider::before,
.divider::after {
    content: "";
    width: 100%;
    border-bottom: 1px solid white;
}

.content-1 p{
    margin-top: 20px;
}

.content-1 .btn{
    margin-top: 20px;
    margin-bottom: 10px;
}

.content-1 .btn-2{
    margin-top: 10px;
    margin-bottom: 20px;
}

.content-1 a{
    text-decoration: none;
    color: white;
    padding-bottom: 30px;
}

.img-2 img{
    width: 100%;
    height: 30vh;
}

.fun{
    background-color: black;
}

.content-2{
    padding: 15px 20px 30px 20px;
}

.content-2 h1{
    color: white;
    margin-bottom: 20px;
}

.content-2 p{
    color: white;
    margin-bottom: 20px;
}


.try{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;
}

.img-3{
    text-align: center;
}


.try h3{
    color: white;
    text-align: center;
    margin-top: 20px;
}

.try p{
    color: white;
    text-align: left;
    padding: 25px;
}

.trial{
    background-color: black;
}

.trial .btn{
    padding-bottom: 30px;
}

.footer{
    background-color: rgb(61, 61, 61);
    padding-bottom: 20px;
    text-align: center;
    padding: 20px 0;
}

.footer img{
    width: 8%;
}


.footer .logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.terms{
    display: flex;
    justify-content: center;
    align-items: center;
}

.terms a{
    color:rgb(121, 121, 248);
    text-decoration: none;
    margin-left: 10px;
    margin-bottom: 10px;
}


.p-1{
    color:rgb(121, 121, 248);
}


@media (min-width:1000px) {
    .intro{
        background-color: black;
        display: flex;
        flex-direction: row-reverse;
    }
    
    .content-1{
        padding: 30px 10px 30px 50px;
        width: 650px;
    }
    

    button{
        width: 37%;
    }

    .divider{
        width: 37%;
    }

    .img-1{
        width: 50%;
    }
    
    .img-1 img{
        width: 100%;
        height: 80vh;
    }

    .fun{
        display: grid;
        grid-template-columns: 1fr 600px;
    }

    .img-2 img{
        width: 100%;
        height: 80vh;
    }

    .try{
        background-color: black;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 30px;
    }

    .trial{
        display: grid;
        grid-template-columns: 600px 1fr;
    }

    .trial .img-2{
        order: 2;
    }


}